<html>
<head>
</head>
<body>
  <h1 class="header">Insure My Stuff</h1>
  <p class="header">Upload your belongings</p>

<form>
<input type="text" value="Name"></input><br>
<input type="text" value="User name"></input><br>
<input type="text" value="Phone number"></input><br>
<input type="email" value="Email address"></input><br>
<input type="text" value="Zip code"></input><br>
<input type="text" value="Item name"></input><br>
<input type="text" value="Serial number"></input><br>
<input type="text" value="Retail price"></input><br>
<input type="text" value="Upload picture"></input><br>
<input type="submit" value="Submit"></input>
</form>

</body>
</html>
