<html>
<head>
  <meta charset="UTF-8" />
        <title>Insure My Stuff</title>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css">
        <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
  <body>
    <h1 class="header">Insure My Stuff</h1>
    <p class="header">Upload your belongings</p>

    <dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">User Information (click to enter)</a>
    <div id="panel1" class="content active">
      <form data-abide method="post" action="/inventory">
        <div class="name-field">
          <input type="text" value="Your Name" id="name" name="name" required pattern="[^Your Name]+">
          <small class="error">Name is required and must be a string.</small>
        </div>
        <br>
          <input type="text" value="User name" id="user_name" name="user_name"></input><br>
          <input type="text" value="Phone number" id="phone" name="phone"></input><br>
        <div class="email-field">
          <input type="email" value="Enter Email" id="email" name="email" required>
          <small class="error">An email address is required.</small>
        </div>
        <br>
        <input type="text" value="Zip code" id="zip" name="zip"></input><br>
      </form>
    </div>
  </dd>
  <dd>
    <a href="#panel2">Item Information (click to enter)</a>
    <div id="panel2" class="content">
       <form method="post" action="/inventory" enctype="multipart/form-data">
        <input type="text" value="Item name" id="item" name="item"></input><br>
        <input type="text" value="Serial number" id="serial_number" name="serial_number"></input><br>
        <input type="text" value="Approximate Value" id="price" name="price"></input><br>
        <input type="text" value="Item Description" id="description" name="description"></input><br>
        <div class="row">
          <div class="large-3 medium-3 columns large-centered medium-centered">
            <input type="file" value="Upload picture" id='pic' name="pic"></input>
            <button type="submit" id="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </dd>
    <dd>
    <a href="#panel3">Saved Items (click to view)</a>
    <div id="panel3" class="content">
      <% if @id %>
      <%= @id %>
      <%= @photo_detail %>
      <% end %>

 </dd>
</dl>
</body>
</html>






