<html>
<head>
  <title>Summary of Inventory</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css">
  <link rel="stylesheet" href="/js/application.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <style>
      #map_canvas {
        width: 300px;
        height: 200px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(30.2500, -97.7500),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);


    </script>


</head>
<body>

  <div class="row header">

      <h1>Summary of Inventory for User Name</h1>
      <h3>Total Value: </h3>
  </div>

  <div class="row map">
    <div class="large-6 columns">
      Insurance Agents Near You:
    </div>
    <div class="large-6 columns">
      <div id="map_canvas"></div>
    </div>

  </div>



  <div class="items">

  <div class="row item">
    <div class="large-6 columns">
      <p>Item Name:</p>
      <p>Serial Number:</p>
      <p>Retail Price:</p>
      <input type="button" value="Remove Item" class="remove"></input>
    </div>
    <div class="large-6 columns">
      <div id="pic_display">
        <img src="http://images.eurogamer.net/2013/usgamer/NGL3---Xbox-360.jpg" />
      </div>
    </div>
  </div>

</div>
  <div>
    <input type="button" value="Add New Item" id="add"></input>
  </div>

  <script type="text/javascript">
// $('.remove').on('click', function (e) {
//     e.preventDefault();
//     $('.row.item').remove();
// });

// $('#add').on('click', function (e) {
//   e.preventDefault();
//   $('.items')
//     .append('<div class="row item">' +
//             '<div class="large-6 columns">' +
//                 '<p>Item Name: <input type="text" name="item"></input></p>' +
//                 '<p>Serial Number: <input type="text" name="serial_number"></input></p>' +
//                 '<p>Retail Price: <input type="text" name="price"></input></p>' +
//                 'Upload photo: <input type="text" name="pic"></input>'+
//                   '<input type="button" value="Remove Item" id="remove"></input>'+
//                   '</div>'+
//                   '<div class="large-6 columns">'+
//                   '<img src="" />'+
//                   '</div>'+
//                   '</div>');

// })
  </script>


</body>
</html>
